.content__container {
  background-image: url(../img/u.jpg);
  background-repeat: no-repeat;
  background-position: top 110px left 571px;
}

.content {
  width: 540px;
  padding-top: 160px;
}

.content__text {
  line-height: 26px;
}

.content__articles {
  margin-top: 80px;
  padding-bottom: 160px;
  display: flex;
}

.content__article {
  width: 255px;
}

.content__article:first-child {
  margin-right: 45px;
}

.content__article-paragraph {
  font-size: 12px;
  line-height: 18px;
  color: #5D6970;
}